.box1 {
  background: rgb(201, 90, 237);
  background: linear-gradient(
    138deg,
    rgb(24, 154, 164) 0%,
    rgb(132, 190, 190) 35%,
    rgb(145, 219, 232) 100%
  );
}

.box2 {
  background: rgb(75, 86, 168);
  background: linear-gradient(
    138deg,
    rgba(75, 86, 168, 1) 1%,
    rgba(0, 99, 255, 1) 90%
  );
}

.box3 {
  background: rgb(62, 67, 218);
  background: linear-gradient(
      138deg,
      rgba(62, 67, 218, 1) 23%,
      rgba(80, 49, 185, 1) 31%,
      rgba(170, 9, 126, 1) 60%
    );
}

.box4 {
    background: rgb(218,62,107);
    background: linear-gradient(138deg, rgba(218,62,107,1) 9%, rgba(185,174,49,1) 45%, rgba(170,9,126,1) 99%);
}


.col {
    border-radius: 25px;
}