<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table cellpadding="10px" cellspacing="3px" border>
    <tr >
        <th>Sno.No</th>
        <th>sn-1</th>
        <th>sn-2</th>
        <th>sn-3</th>
    </tr>

    <tr>
        <td>1</td>
        <td>hello</td>
        <td>data</td>
        <td>data1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>hello</td>
        <td>data</td>
        <td>data2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>hello</td>
        <td>data</td>
        <td>data3</td>
    </tr>
    <tr>
        <td>4</td>
        <td>hello</td>
        <td>data</td>
        <td>data4</td>
    </tr>
</table>
</body>
</html>